<footer class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="https://www.github.com/masakistewart">
				<img id="logo" src="cairoLogo.png" alt="creator-logo" />
			</a>
		</div>
	</div>
</footer>