<footer class="navbar navbar-inverse">
	<div class="container-fluid">
		<ul class="nav nav-footer navbar-nav">
			<li>
				<address>
				  <strong>ilovedogwalks</strong><br>
				  34 Westbury Road <br>
				  London, N12 7NX<br>
				  <abbr title="Phone">P:</abbr> 07971060362
				</address>
			</li>
			<li>
				<address>
				  <strong>Emilie Stewart</strong><br>
				  <a class="navbar-link" href="mailto:#">emiliealoha@gmail.com</a>
				</address>
			</li>
		</ul>
	</div>
</footer>