body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	background: black;
}

#background {
	background: url(black-Linen.png) repeat;
	background-attachment: fixed;
}

/*color changes here */

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	border: none;
	background: #00898E;
}

.partition {
	width: 100%;
	height: 50px;
	background: #00898E;
}

.partition-thin {
	width: 100%;
	height: 45px;
}

.partition.main{
	margin-top: 5%;
	height: 1000px;

}

/* jumbotron here */

.jumbotron {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
}

.jumbotron:first-child {
	margin-top: 5%;
}

.jumbotron.no-border-radius {
	border-radius: 0;
}

.jumbotron:last-child {
	margin-bottom: 8%;
}

.jumbotron h1 {
	padding-left: 20px;
	padding-right: 20px;
}

.jumbotron p {
	font-size: 1.25555551em;
}

/* a tags */

a {
	color: #00898E;
}

a i {
	color: black;
}

a:hover {
	color: #e6525f;
}

#review-button {
	margin-top: 9%;
}

.smally {
	font-size: 18px;
}

.smaller {
	font-size: 14px;
}

#shorten {
	height: 230px;
	width: 230px;
}

#mainPageHeader {
	margin-top: .1%;
}

#profilePic {
	height: 250px;
	margin-left: 1%;
	margin-bottom: 10%;

}

#myCarousel {
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	margin-top: 5%;
}

#carouselImage {
	height: 400px;
	width: 100%;
}

/* form */

#textarea {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#button {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

/* the header colors */

.navbar-brand {
	font-size: 1.8em;
}

.blue {
	color:blue;
}

.purple {
	color: purple;
}

.red {
	color: red;
}

.orange {
	color: #e65212;
}

iframe {
	margin-top: 5%;
}

.fluffy-bunny {
	color: rgba(255,255,255, .5);
}

.navbar-text.navbar-texty {
	color: white;
}

.block {
	margin-top: 0;
	height: 150px;
	width: 100%;
	background: #00898e;
}
