body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	margin-top: 60px;
	background: #2B3E50;
}

.reviews {
	margin-right: 11%;
}

.nav-footer {
	margin-left: 20%;
}

.nav-footer > li {
	margin-left: 1%;
}

address {
	font-size: 1em;
}

/*color changes here */

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	pading: 0;
	border: none;
}

.partition {
	width: 100%;
	height: 300px;
	background: #00BC8C;
}

.partition-thin {
	width: 100%;
	height: 45px;
}

.partition.main{
	margin-top: 5%;
	height: 1000px;

}

.container-fluid {
	width: 100%;
	margin: 0;
	padding: 0;
}
/* jumbotron here */

.jumbotron {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	background: #2B3E50;
}

.thumbnail {
	width: 370px;
}
.thumbnail:first-child {
	margin-left: 10%;
}

.square-index {
	border-radius: 25px;
	padding: 15px;
	font-size: 1.8em;
	color: #777777;
	background: rgba(255, 255, 255, .99);
	height: 450px;
	margin-bottom: 15%;
}

.square-index:first-child {
	margin-left: 5%;
}

.square-index:last-child {
	margin-right: 5%;
}

.jumbotron.no-border-radius {
	border-radius: 0;
}

#mainPageHeader {
	font-size: 4em;
}

.jumbotron:last-child {
	margin-bottom: 8%;
}

/* a tags */

a {
	color: #00898E;
}

#float-right {
	float: right;
}

a:hover {
	color: #e6525f;
}

#review-button {
	margin-top: 9%;
}

.smally {
	font-size: 18px;
}

.smaller {
	font-size: 14px;
}

img.thumbnail-img {
	height: 300px;
	width: 100%;

}

#profilePic {
	height: 250px;
	margin-left: 1%;
	margin-bottom: 10%;

}

/* form */

#textarea {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#button {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

/* the header colors */

.navbar-brand {
	font-size: 1.8em;
}

iframe {
	margin-top: 5%;
}

.fluffy-bunny {
	color: rgba(255,255,255, .5);
}

.navbar-text.navbar-texty {
	color: white;
}

.block {
	margin-top: 0;
	height: 150px;
	width: 100%;
	background: #00898e;
}

#logo {
	width: 150px;
}


@media only screen and (max-device-width: 480px) {
	.container-fluid {
		width: 100%;
		margin: 0;
	}

	p {
		font-size: 4em;
	}

	#myCarousel < img.carouselImage {
	height: 600px;
	width: 100%;
}

	img.thumbnail-img {
	height: 600px;
	width: 100%;

}

	.btn {
		font-size: 1.5em;
		padding: 1%;
	}
}
