body
{
    font-size: 16px;

    width: 100%;
    height: 100%;
    margin-top: 60px;

    background: #2b3e50;
}

.navbar
{
    margin-bottom: 0;

    border: none;
    border-radius: 0;
}

blockquote
{
    font-family: Georgia, serif;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.45;

    position: relative;

    width: 22.25em;
    margin: 1% auto;
    padding: .35em 2.5em;

    color: white;
}

blockquote cite
{
    font-size: .875em;

    display: block;

    margin-top: .3125px;

    color: #00bc8c;
}

blockquote cite:before
{
    content: '\2014 \2009';
}

.row
{
    margin-right: auto;
    margin-left: auto;
}

.thumbnail
{
    font-size: 1.8em;

    height: 28.375em;
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    background: #2b3e50;
}

.thumbnail:first-child
{
    height: 30em;
}

#services-offered
{
    font-size: 2em;
}

.square-index
{
    font-size: 1.8em;
    height: 18.125em;

    margin-bottom: 15%;
    padding: .90em;

    color: #777;
    border-radius: 1.5625em;
    background: rgba(255, 255, 255, .99);
}

.reviews
{
    margin-right: 11%;
}

.nav-footer
{
    margin-left: 30%;
}

.nav-footer > li
{
    margin-left: 1%;
}

address
{
    font-size: 1em;
}

/*color changes here */

.scroll
{
    background: rgba(0, 188, 140, .60);
}

.partition
{
    width: 100%;
    padding-bottom: 30px;

    background: #00bc8c;
}

.partition.main
{
    height: 62.5em;
    margin-top: 5%;
}

.container-fluid
{
    width: 100%;
    margin: 0;
    padding: 0;
}
/* jumbotron here */

.jumbotron
{
    margin-top: 0;
    margin-bottom: 0;

    border-radius: 0;
    background: #2b3e50;
}

.jumbotron.no-border-radius
{
    border-radius: 0;
}

#mainPageHeader
{
    font-size: 4em;
}

.jumbotron:last-child
{
    margin-bottom: 8%;
}

/* a tags */

a
{
    color: #00bc8c;
}

a:hover
{
    color: #e65212;
}

#review-button
{
    margin-top: 9%;
}

.smally
{
    font-size: .5em;
    color: white;
}

.smaller
{
    font-size: 14px;
}

img.thumbnail-img
{
    width: 100%;
    height: 300px;
}

#profilePic
{
    height: 250px;
    margin-bottom: 10%;
    margin-left: 1%;
}

/* form */

#textarea
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#button
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* the header colors */

.navbar-brand
{
    font-size: 1.8em;
}

iframe
{
    width: 24em;
    height: 24em;
}

.left-side
{
    margin-top: 23%;
}
.middle
{
    margin-top: 15%;
}
.right-side
{
    margin-top: 20%;
}

.navbar-text.navbar-texty
{
    color: white;
}

.block
{
    width: 100%;
    height: 150px;
    margin-top: 0;

    background: #00898e;
}

#logo
{
    width: 150px;
}

@media only screen and (max-device-width: 480px) {

	.container-fluid {
		width: 100%;
		margin: 0;
	}
    iframe {
        width: 80%;
    }

    .row {
        margin-top: 1.925em;
    }
    blockquote {
        display: none;
    }

    blockquote:before
    {
        display: none;
    }

	.thumbnail {
		width: 80%;
		height: 37.5em;
		margin: 1% auto;
		overflow: hidden;
	}
    blockquote
    {
        width: 25.5em;
    }
	.btn {
		font-size: 1.5em;
		padding: 1%;
	}
	.right-side {
		margin: 0;
	}

	.middle {
		margin: 0;
	}

	.left-side {
		margin: 0;
	}

	.nav-footer {
		margin: 0;
		padding: 0;
	}
}
