<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Dog walker located in North Finchley. Offering dog walks in Finchley, Totteridge and Whetstone.">
  <meta name="keywords" content="Dog walker, Walks, Boarding, Finchley, London">
  <meta name="author" content="Cairo Stewart">
  <title>ilovedogwalks - North Finchley</title>
	<% include ../partials/head %>
</head>
<body id="background">
<% include ../partials/header %>
<div class="container-fluid">
  <!-- for carousel -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="carouselImage" src="dog-img.jpg" alt="Dog walking in a park">
          </div>
          <div class="item">
            <img class="carouselImage" src="dog-img2.jpg" alt="Dogs out in the park">
          </div>
          <div class="item">
            <img class="carouselImage" src="dog-img3.jpg" alt="Dog walker in Finchley">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- carousel end -->

    <!-- <div class="partition">
    </div> -->
  <div class="col-md-12 text-center">
    <blockquote>
      <h1 class="page-header">Love and Care for your Pets</h1>
    <cite>Emilie Stewart</cite>
  </blockquote>

  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="square-index">
        <h3 class="text-center"><a href="/about">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
          </span>
          Dog Walks
        </a></h3>
        <p>Choose between a 1 hour walk or 1.5hr walk depending on your dogs needs. Your dog will be safely picked up and returned happy and ready for a nap.</p>
      </div>
      </div>
      <div class="col-sm-3 col-sm-12">
        <div class="square-index">
          <h3 class="text-center"><a href="/about">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x green"></i>
              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span>
            Boarding
          </a></h3>
          <p>Dog boarding in a home environment. Give your dog a fun-filled day of supervised play, hanging out and making friends with other animals. </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="square-index">
          <h3 class="text-center"><a href="/about">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
            Small Animal Care
          </a></h3>
          <p>I visit your pets in their own home. Feeding, changing water bowls and litter trays. This is a 20 minute long visit for your pet. </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="square-index">
          <h3 class="text-center"><a href="/about">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
            </span>
            Fully Insured
          </a></h3>
          <p>I am fully insured by <a target="_blank" href="https://www.petplan.co.uk">PetPlan</a> the top pet insurance agency in the country. Making sure that your pets are safe is my top priority. They will be well cared for.</p>
        </div>
      </div>
  </div>
  <div class="partition">
    <div class="row">
      <div class="col-sm-12">
        <h2 id="services-offered" class="page-header text-center">Services Offered<small class="smally"> Contact: 07971060362 | ilovedogwalks@hotmail.com</small></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <img class="thumbnail-img"  src="dog-img5.jpg" alt="dog walking price">
          <div class="caption">
            <h3 class="text-center">Walks - £12</h3>
            <ul>
              <li><p>Pick up and drop off</p></li>
              <li><p>Exercise & socialization with other dogs</p></li>
              <li><p>1 - 1.5 hours of walking</p></li>
              <li><p>Park location vary</p></li>
              <li><p>Brings dogs home ready for a nap</p></li>
            </ul>
            <p class="text-center"><a href="/email" class="btn btn-danger" role="button">Inquire Now!</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <img class="thumbnail-img" class="shorten" src="dog-img6.jpg" alt="dog walking price">
          <div class="caption">
            <h3 class="text-center">Home Visit/Cat Visit - £12</h3>
            <ul>
              <li><p>Visits in the comfort of their own home</p></li>
              <li><p>Ideal for young puppies & elderly dogs</p></li>
              <li><p>Small Animal feeding including cat visits</p></li>
              <br>
            </ul>
            <p class="text-center"><a href="/email" class="btn btn-small btn-danger">Inquire Now!</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <img class="thumbnail-img" src="dog-img4.jpg" alt="dog walking price">
          <div class="caption">
            <h3 class="text-center">Day Care - £25</h3>
            <ul>
            <li><p>Pick Up & Drop Off</p></li>
            <li><p>General hours 10am - 4pm</p></li>
            <li><p>Includes 2 hours of walking</p></li>
            <li><p>Ideal for the busy animal owner</p></li>
            <br><br>
            </ul>
            <p class="text-center"><a href="/email" class="btn btn-danger" role="button">Inquire Now!</a></p>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
  <div class="container-fluid">
  <div class="jumbotron no-border-radius">
    <h1 class="page-header">Contact<small class="smally"> Tel: 07971060362 | Email: ilovedogwalks@hotmail.com</small></h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <iframe frameborder="0"
  src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJx_FvA-IZdkgRzce1x-tA2Dc&key=AIzaSyBAbx-I6MUz8mqe4OauNjlkmmVpbYZkHl4" ></iframe>
      </div>
      <div class="col-md-5">
        <h4>Based in North Finchley N12 we cover:</h4>
        <ul>
        <li>East Finchley N2</li>
        <li>Finchley Central N3</li> 
        <li>North Finchley N12</li>
        <li>Woodside Park N12</li>
        <li>Totteridge N20</li>
        <li>Whetstone N20</li>
        <li>Friern Barnet N11</li>
        <li>Muswell Hill N10</li>
        <li>Mill Hill East NW7 & And all inbetween!</li>
        </ul>
        <br>
        <h4>Where we walk:</h4>
        <p><small>We are spoilt for choice to where we can go for walkies. Brook Farm Open Space, Darland's Lake Nature Reserve, Hampstead Heath and Highgate Woods just to name a few... London is such a great place to own a dog!</small>
        </p>
        <a class="btn btn-success" href="/email">Email Now!</a>
      </div>
    </div>
  </div>
</div>


<% include ../partials/footer %>
</body>
</html>