<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>



<div class="container">
	<div class="jumbotron no-border-radius last-child">
		<h1 class="page-header">Services Offered<small class="smally"> Contact: 07971060362 | info@ilovedogwalks.co.uk</small></h2>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img  src="dogs_on_a_leash.jpg" alt="dog walking price">
					<div class="caption">
						<h3 class="text-center">Walks - £12</h3>
						<ul>
							<li><p>Pick up and drop off</p></li>
							<li><p>Exercise & socialization with other dogs</p></li>
							<li><p>1 - 1.5 hours of walking</p></li>
							<li><p>Park location vary</p></li>
							<li><p>Brings dogs home ready for a nap</p></li>
							<br>
						</ul>
						<p class="text-center"><a href="/email" class="btn btn-danger" role="button">Inquire Now!</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img id="shorten" src="cat_img.jpg" alt="dog walking price">
					<div class="caption">
						<h3 class="text-center">Home Visit/Cat Visit - £12</h3>
						<ul>
							<li><p>Visits in the comfort of their own home</p></li>
							<li><p>Ideal for young puppies & elderly dogs</p></li>
							<li><p>Small Animal feeding including cat visits</p></li>
							<li><p>Perfect for the busy animal owner</p></li>
						</ul>
						<p class="text-center"><a href="/email" class="btn btn-danger" role="button">Inquire Now!</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="dog_daycare.jpg" alt="dog walking price">
					<div class="caption">
						<h3 class="text-center">Day Care - £25</h3>
						<li><p>Pick Up & Drop Off</p></li>
						<li><p>General hours 10am - 4pm</p></li>
						<li><p>Includes 2 hours of walking</p></li>
						<li><p>Fantastic for dogs who don't like to be left on their own.</p></li>
						<li><p>Ideal for the busy animal owner</p></li>
						<br>
						<br>
						<br>
						<p class="text-center"><a href="/email" class="btn btn-danger" role="button">Inquire Now!</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-text">
		<p>CreatedBy: CairoStewart</p>
	</div>
</div>
</body>
</html>