<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
	<body id="background">
	<% include ../partials/header %>

	<div class="container">
		<div class="jumbotron">
			<h1 class="page-header">Reviews<small class="smally"> Contact: 07971060362 | info@ilovedogwalks.co.uk</small></h1>
		</div>
		<div class="partition-thin"></div>
		<% reviews.forEach(function(review) { %>
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-3">
					<img class="img-thumbnail" src="<%= review.img %>">
				</div>
				<div class="col-md-9">
					<blockquote>
						<p class="fluffy-bunny"><%= review.body %></p>
						<footer class="text-success">Happy Customer: <cite title="Source Title"><%= review.name %></cite></footer>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="partition-thin">
		</div>
		<% }) %>
		<div class="jumbotron">
		<center><a class="btn btn-danger form-control" href="https://www.facebook.com/NorthLondonDogWalkers/reviews">More Reviews On Facebook</a></center>
		</div>
	</div>
	<% include ../partials/footer %>
	</body>
</html>