<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="reviews of ilovedogwalks.co.uk, the customer is king!">
	<meta name="keywords" content="Dog walker reviews, Finchley, London">
	<meta name="author" content="Cairo Stewart">
	<% include ../partials/head %>
	<title>ilovedogwalks - reviews</title>
</head>
	<body id="background">
	<% include ../partials/header %>

	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="page-header">Reviews<small class="smally"> Contact: 07971060362 | info@ilovedogwalks.co.uk</small></h1>
		</div>
		<div class="partition-thin"></div>
		<% reviews.forEach(function(review) { %>
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-12">
					<blockquote>
						<p class="fluffy-bunny"><%= review.body %></p>
						<footer class="text-success">Happy Customer: <cite title="Source Title"><%= review.name %></cite></footer>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="partition-thin">
		</div>
		<% }) %>
		<div class="jumbotron">
		<center><a class="btn btn-danger form-control" href="https://www.facebook.com/NorthLondonDogWalkers/reviews">More Reviews On Facebook</a></center>
		</div>
	</div>
	<% include ../partials/footer %>
	</body>
</html>